
mixin author(authorName)
  - var author = contents.authors[authorName + '.json'];
  span.author
    if author
      span= author.metadata.name
      a(href='mailto:' + author.metadata.email) 
        i.fas.fa-envelope-open-text()
      a(href='https://twitter.com/' + author.metadata.twitter)
        i.fab.fa-twitter()
    else
      = authorName
